# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_postgres_password
POSTGRES_DB=mee-fins
DATABASE_URL=postgresql://postgres:your_secure_postgres_password@postgres:5432/mee-fins

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_redis_password

# LiveKit Configuration
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secretsecretsecretsecretsecret32
LIVEKIT_URL=https://livekit.example.com
LIVEKIT_EXTERNAL_IP=123.45.67.89

# Backend Application Settings
PORT=3001
NODE_ENV=production

# Cloudflare R2
CLOUDFLARE_R2_ACCOUNT_ID=example
CLOUDFLARE_R2_BUCKET_NAME=example
CLOUDFLARE_R2_PUBLIC_URL=https://pub-example.r2.dev
CLOUDFLARE_R2_SECRET_ACCESS_KEY=example
CLOUDFLARE_R2_ACCESS_KEY_ID=example

# Front-end url
FRONTEND_URL=http://localhost:3000

# Resend API Key
RESEND_API_KEY=example
MAIL_FROM="App Name <onboarding@resend.dev>"

# Github 
GITHUB_CLIENT_ID=example
GITHUB_CLIENT_SECRET=example
GITHUB_CALLBACK_URL=http://localhost:3001/auth/github/callback

# JWT Secrets
JWT_SECRET=secret
JWT_REFRESH_SECRET=refreshsecret